body {
    font-family: monospace;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#terminal {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #333;
    background-color: #000000;
}